<div style="background:#efefef" fxFill fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="2rem">
    <!-- <mat-card style="width:260px" fxLayout="column">
        <h1 class="mat-display-1">404.</h1>
        <mat-card-content>
            <p>
                Sorry. Page Not Found. :(<br>
                <a href="/">Back to home page</a>
            </p>
        </mat-card-content>
    </mat-card> -->
    <p>
        Sorry. Page Not Found. :(<br>
        <a href="/">Back to home page</a>
    </p>
</div>
