<div class="flexContainer">
    <mat-toolbar class="flexContentSize" style="background: rgb(182, 182, 182);">
        <button mat-icon-button *ngIf="shareFacadeService.menuIconStatusBS | async" (click)="toggleDrawer()">
            <mat-icon>menu</mat-icon>
        </button>
        <span>Angular Tutorial Template</span>
        <button mat-button [routerLink]="['original-template']" routerLinkActive="mat-accent" matTooltip="Original Angular template">Original</button>
        <button mat-button [routerLink]="['documentation']" routerLinkActive="mat-accent" matTooltip="Code Documentation">DOCS</button>
        <button mat-button>Resources</button>
    </mat-toolbar>
    <div class="flexRemainingSpace" style="overflow: auto;">
        <router-outlet></router-outlet>
    </div>
</div>