<div class="flexContainer">
    <mat-toolbar class="flexContentSize" style="background: rgb(182, 182, 182);">
        <button mat-icon-button *ngIf="shareFacadeService.menuIconStatusBS | async" (click)="toggleDrawer()">
            <mat-icon>menu</mat-icon>
        </button>
        <div fxLayout="column" fxLayoutAlign="center center" style="margin-right: 20px;">
            <p style="text-align: center; font-size: 30px; margin: 0px; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;" >Angular</p>
            <span style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Tutorial Template</span>
        </div>
        <button mat-button [routerLink]="['original-template']" routerLinkActive="darkThemeRouterLinkActive" matTooltip="Original Angular template">Original</button>
        <button mat-button [routerLink]="['tutorial']" routerLinkActive="darkThemeRouterLinkActive" matTooltip="Angular Tutorial">Tutorial</button>
        <button mat-button [routerLink]="['documentation']" routerLinkActive="darkThemeRouterLinkActive" matTooltip="Code Documentation">Documentation</button>
        <button mat-button [routerLink]="['resources']" routerLinkActive="darkThemeRouterLinkActive" matTooltip="Useful Resources for Development">Resources</button>
        <button mat-button matTooltip="Some Practical Hands-On">Features</button> <!--Money saving prediction in 10 years, PDF to image converters-->
    </mat-toolbar>
    <div class="flexRemainingSpace" style="overflow: auto;">
        <router-outlet></router-outlet>
    </div>
</div>