<div fxLayout="column" fxLayoutGap="10px">
    <mat-card>
        <h2>Introduction</h2>
        <p>This is used to show busy indicator on Promise or Observable's Subscription.</p>
        <p>Refer to this link for the <a href="https://www.npmjs.com/package/ng-busy" target="_blank" rel="noopener noreferrer">documentation</a>.</p>
        <p>Another similar package is <a href="https://www.npmjs.com/package/angular-busy" target="_blank" rel="noopener noreferrer">angular-busy</a>, but the last publish of this package is 4 years ago,
        hence ng-busy is preferred.</p>
    </mat-card>
    <mat-card>
        <h3>Installation</h3>
        <p>npm i ng-busy</p>
    </mat-card>
    <mat-card>
        <h3>Code Snippet</h3>
        <p>For code snippets, refer to <a [routerLink]="'/documentation/ngBusy'">this page</a></p>
    </mat-card>
</div>