<div fxLayout="column" fxLayoutGap="10px">
    <mat-card>
        <h2>Introduction</h2>
        <p>SCSS is a superset of CSS3 syntax, hence, every .css file is a valid .scss file</p>
        <p>SCSS is a new syntax for SASS (a pre-processor scripting language).</p>
        <p>However, both old(SASS) and new(SCSS) syntaxes have different file extensions and some differences.</p>
        <p>Nevertheless, SCSS is prefered in this repo as its syntax is similar to CSS3.</p>
        <a href="https://www.geeksforgeeks.org/what-is-the-difference-between-scss-and-sass/" target="_blank" rel="noopener noreferrer">Reference for difference between SCSS and SASS</a>
    </mat-card>
    <mat-card>
        <h3>SCSS with Angular</h3>
        <p>By default, Angular will use css when new projects are setup.</p>
        <p>However, the style can be set when generating new project or component.</p>
        <p>For example: ng generate component home --style scss</p>
    </mat-card>
    <mat-card>
        <h3>Use case example</h3>
        <p>SCSS does help us in improving our code management as it allows us to declare variables.</p>
        <p>With the variable declaration function, we can declare global variables for repeatedly used constants.</p>
        <p>Example:</p>
        <pre>
            <code>
    $flexContentSize: 0 1 auto;
    $flexRemainingSpace: 1 1 1e-9px;

    .flexContentSize &#123;
    flex: $flexContentSize;
    }

    .flexRemainingSpace &#123;
    flex: $flexRemainingSpace;
    }

    .flexContainer &#123;
    height: 100%;
    display: flex;
    flex-flow: column;
    }
            </code>
        </pre>
    </mat-card>
</div>