<div fxLayout="column" fxLayoutGap="10px">
    <mat-card>
        <h2>Introduction</h2>
        <p>The powerful advantage of Angular is the single-page application feature.</p>
        <p>If we use href (a basic attribute provided by HTML) to navigate through pages, it actually relaods the page on click.</p>
        <p>Contrastingly, when we use routerLink (an attribute provided by Angular), we can navigate to other components without reloading the page</p>
        <p>Hence, routerLink doesn't lose the state of the page</p>
        <p>For example, data cached in Angular services is not lost when routing happens within the child components.</p>
    </mat-card>
    <mat-card>
        <h3>Hands-On Lab</h3>
        <p>Observe the difference between href and routerLink</p>
        <div fxLayout="column" fxLayoutGap="5px" fxLayoutAlign="center center">
            <a href="/original-template">href to Original Template</a>
            <button mat-raised-button [routerLink]="'./../../original-template'">routerLink to Original Template</button>
        </div>
    </mat-card>
    <mat-card>
        <h3>Using Routing Module To Handle Paths</h3>
        <p>Using a app-routing.module.ts or submodule-routing-module.ts to handles paths is a more organized practice.</p>
        <p>The following is an example of app-routing.module.ts:</p>
        <pre>
            <code>
    // IN app-routing.module.ts

    import &#123; NgModule } from '@angular/core';
    import &#123; Routes, RouterModule } from '@angular/router';

    const routes: Routes = [
        &#123; path: '', loadChildren: () => import('./main-contents/main-contents.module').then(m => m.MainContentsModule) },
        &#123; path: 'notfound', loadChildren: () => import('./not-found/not-found.module').then(m => m.NotFoundModule) },
        &#123; path: '**', redirectTo: 'notfound' }
    ];

    @NgModule(&#123;
        imports: [RouterModule.forRoot(routes)],
        exports: [RouterModule]
    })
    export class AppRoutingModule &#123; }
            </code>
        </pre>
        <p style="font-style: italic"><strong>Side Note</strong>: It is a good practice to have a not-found component to display the error when the Angular app is routed to an undefined route.</p>
        <p>Then, in your app-module.ts, you need to import RouterModule and this AppRoutingModule.</p>
        <pre>
            <code>
    // IN app.module.ts

    @NgModule(&#123;
        declarations: [
            AppComponent
        ],
        imports: [
            AppRoutingModule,
            RouterModule,
        ],
        providers: [],
        bootstrap: [AppComponent]
    })
    export class AppModule &#123; }
            </code>
        </pre>
        <p>Using submodule-routing.module.ts for modules are quite similar to the app-routing.module.ts, except that you will be using RouterModule.forChild(routes). Very often also you going to have child routes for your module.</p>
        <p>Example:</p>
        <pre>
            <code>
    // IN main-contents-routing.module.ts

    const routes: Routes = [
        &#123;
            path: '',
            component: MainContentsComponent, // main route component
            children: [
                &#123;
                    path: 'original-template',
                    component: OriginalTemplateComponent,
                }, // route to Angular Component
                &#123;
                    path: 'tutorial',
                    loadChildren: () =>
                        import('./tutorial/tutorial.module').then(
                            (m) => m.TutorialModule
                        ),
                }, // route to Angular Module
            ]
        }, // you can have more main routes after this line
    ];

    @NgModule(&#123;
        imports: [RouterModule.forChild(routes)],
        exports: [RouterModule]
    })

    export class MainContentsRoutingModule &#123; }
            </code>
        </pre>
        <p>In your submodule.module.ts, you need to import RouterModule and the respective RoutingModule as well.</p>
    </mat-card>
    <mat-card>
        <h3>routerLink</h3>
        <p>There are 2 types of paths: absolute path and relative path</p>
        <p style="padding-left: 20px;">- Absolute path (has a '/' infront) directly refers to the path regardless of the current path.</p>
        <p style="padding-left: 20px;">- Relative path appends the path to the end of current path.</p>
        <pre>
            <code>
    // Absolute path
    <button mat-raised-button routerLink='/original-template'>routerLink='/original-template'</button>

    // Relative path
    <button mat-raised-button routerLink='../../original-template'>routerLink='../../original-template'</button>
            </code>
        </pre>
        <p>You can also use property binding on routerLink:</p>
        <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
            <button mat-raised-button [routerLink]="'../../original-template'">&#91;routerLink]="'../../original-template''"</button>
            <p>is equivalent to</p>
            <button mat-raised-button routerLink='../../original-template'>routerLink='../../original-template'</button>
        </div>
        <p style="font-style: italic"><strong>Side Note</strong>: The ../ is not necessarily remove one segment, it will remove the whole segment which is currently loaded.</p>
    </mat-card>
    <mat-card>
        <h3>Routing to Dynamic Paths</h3>
        <p>You can route to dynamic paths by making use of the property binding.</p>
        <p>Example:</p>
        <pre>
            <code>
    // IN item-list-routing.module.ts
    const routes: Routes = [
    &#123;
        path: '',
        component: ItemListComponent,
        children: [
        &#123;
            path: 'viewItem/:itemID',
            component: ViewItemComponent
        },
        &#123;
            path: 'itemConfiguration',
            component: ItemConfigurationComponent
        },
        ]
    }
    ];

    @NgModule(&#123;
        imports: [RouterModule.forChild(routes)],
        exports: [RouterModule]
    })
            </code>
        </pre>

        <pre>
            <code>
    // IN item-list.component.html
    &lt;ng-container *ngFor="let itemID of itemIDList">
        &lt;button [routerLink]="['viewItem', itemID]">View Item&lt;/button>
    &lt;/ng-container>
            </code>
        </pre>

    </mat-card>
    <mat-card>
        <h3>Reading Parameters In The Path</h3>
        <p>Then, you can further read the variable passed in the path or even the variable passed in parent path.</p>
        <pre>
            <code>
    // IN item-view.component.ts
    constructor(
        private activatedRoute: ActivatedRoute
    ) &#123; }

    ngOnInit(): void &#123;
        this.activatedRoute.paramMap.subscribe(params => &#123;
            const itemID = params.get('itemID');
        })
        this.activatedRoute.parent.paramMap.subscribe(params => &#123;
            const itemGroupID = params.get('itemGroupID');
        })
    }
            </code>
        </pre>
        <p style="font-style: italic"><strong>Side Note</strong>: Using params.subscribe() is similar to using an observable, but for params.subscribe(), you don't need to manually do unsubscribe() because the Angular will do it automatically for you.</p>
    </mat-card>
    <mat-card>
        <h3>Programmatically Route to Another Path</h3>
        <p>You can use router.navigate() or router.navigateByURL() to programmatically route to another path</p>
        <pre>
            <code>
    constructor(
        private router:Router,
        private route: ActivatedRoute
    ) &#123; }

    // using relative path
    navigateToOriginalTemplate()&#123;
        this.router.navigate(['../../orignal-template'], &#123;relativeTo: this.route})
    }

    // using absolute paths
    navigateByURLToOriginalTemplate()&#123;
        this.router.navigateByURL(`original-template`);
    }

            </code>
        </pre>
    </mat-card>
</div>